{% extends "base.html" %}

{% block content %}

<header>
    <div class="container-fluid" id="image">
        <div class="row px-4 text-center">
            <img class="img-fluid header-image" id="main-background"
                src="https://res.cloudinary.com/dxhzp2rnu/image/upload/v1667151640/Screen_Shot_2022-10-30_at_17.39.19_remz5u.png"
                alt="blue/pink background image">
            <div class="col-lg-6 mx-auto">
                <div class="caption">
                    <div class="text-center-caption">
                        <h1 class="post-title fw-bolder text-uppercase">Add your post</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<form class="text-center m-3" action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <!-- <script>
        CKEDITOR.replace('editor1');
    </script> -->
    {{ form.as_p }}
    <button class="btn btn-signup right" id="button">Post &raquo;</button>
</form>

<script>
    var name = "{{ user.id }}";
    document.getElementById("user").value = name;
</script>

{%endblock%}