{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Password Changed" %}{% endblock %}

{% block content %}

<header>
   <div class="container-fluid" id="image">
      <div class="row px-4 text-center">
         <img class="img-fluid header-image" id="main-background"
            src="https://res.cloudinary.com/dxhzp2rnu/image/upload/v1662637143/cld-sample.jpg"
            alt="blue/pink background image">
         <div class="col-lg-6 mx-auto">
            <div class="caption">
               <div class="text-center-caption">
                  <h1 class="post-title fw-bolder text-uppercase">Password Updated</h1>
                  <h6 class="post-subtitle fw-bold">Your password was changed successfully!</h6>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

{% endblock %}