{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col-md-7 masthead-image">
            {% if "placeholder" in post.featured_image.url %}
            <img class="rounded-pill post-image"
                src="https://res.cloudinary.com/dxhzp2rnu/image/upload/v1667151640/Screen_Shot_2022-10-30_at_17.39.19_remz5u.png">
            {% else %}
            <img class="rounded-pill post-image" alt="Authors chosen photo" src=" {{ post.featured_image.url }}">
            {% endif %}
        </div>
    </div>
</div>

<div class="post-caption mt-4">
    <div class="text-center-caption">
        <h1 class="post-title fw-bolder">{{ post.title }}</h1>
        <p class="post-subtitle fw-bold">{{ post.author }} || {{ post.created_on }}</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body mb-3">
                <p class="card-text">
                    {{ post.content | safe }}
                <div class="row">
                    <div>
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" aria-label="Like post" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart text-decoration-none"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" aria-label="Like post" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart custom-tooltip" data-toggle="tooltip"
                                    title="You must create an account or log in to like a post."></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                        {% with comments.count as total_comments %}
                        <div class="text-secondary d-inline">
                            <i class="far fa-comments m-1 custom-tooltip" data-toggle="tooltip"
                                title="You must create an account or log in to comment."></i>
                            {{ total_comments }}
                        </div>
                        {% endwith %}
                    </div>
                    {% if user.id == post.author.id %}
                    <small>
                        <p>
                            <a href="{% url 'update_post' post.slug %}">Edit</a> // <a
                                href="{% url 'delete' post.slug %}">Delete</a>
                        </p>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <div style="padding: 10px;">
                <h3 class="post-title fw-bolder m-1 text-uppercase">Comments:</h3>
            </div>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup right mt-3" id="button">Submit &raquo;</button>
                </form>
                {% else %}
                <h6>To leave a comment or like a post, please log in. If you have not created an account yet, then <a
                        class="link text-decoration-underline" id="comment-signup" href="{% url 'account_signup' %}">sign up</a>.
                </h6>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}