{% extends "base.html" %}

{% block content %}

<header>
    <div class="container-fluid" id="image">
        <div class="row px-4 text-center">
            <div class="col-lg-6 mx-auto">
                <div class="caption">
                    <div class="text-center-caption">
                        <h1 class="post-title fw-bolder text-uppercase">Edit Post</h1>
                        <h6 class="post-subtitle fw-bold">Go ahead and correct your post</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% if user.id == post.author.id %}
<form class="text-center m-3" action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-signup right" id="button">Post &raquo;</button>
</form>

{% endif %}

<script>
    var name = "{{ user.id }}";
    document.getElementById("user").value = name;
</script>

{%endblock%}